<launch>
  <rosparam command="load" file="$(find PAP_resources)/parameters/ratios.yaml" />
  <rosparam command="load" file="$(find PAP_resources)/parameters/offsets.yaml" />
  <include file="$(find pap_common)/launch/startCamera.launch" /> 
  <param name="fakePadPos" type="bool" value="false" />
  <node name="Userinterface" pkg="pap_gui" type="pap_gui_node" output="screen" />
  <node name="Placer" pkg="pap_placer" type="pap_placer_node" output="screen" />
  <node name="Motor_controller" pkg="motor_controller" type="motor_controller_node" output="screen" />
  <node name="Vision" pkg="pcb_cv" type="displayImage" output="screen" />
  <node name="Arduino" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM2" output="screen" /> 
  <node name="Arduino2" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM1" output="screen" />
</launch>
